@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Edu Tracker</h1>
    <button class="btn btn-primary mt-3" onclick="window.location.href='/Student/Search' "> Search For Student Grade</button>
</div>